/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */


.node /* Node wrapper */ {
}

.node-sticky /* A sticky node (displayed before others in a list) */ {
}

.node-unpublished /* Unpublished nodes */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.node-by-viewer /* A node created by the current user */ {
}

.node-teaser /* A node displayed as teaser */ {
}

/* All nodes are given a node-type-FOO class that describes the type of
 * content that it is. If you create a new content type called
 * "my-custom-type", it will receive a "node-type-my-custom-type" class.
 */
.node-type-page /* Page content node */ {
}

.node-type-story /* Story content node */ {
}

.node h2.title /* Node title */ {
}

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */ {
  color: #c00;
}

.node .picture /* The picture of the node author */ {
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture {
  position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node .meta /* Wrapper for submitted and terms data */ {
}

.node .submitted /* The "posted by" information */ {
    font-style: italic;
    color: #F5F5F5;
}

.node .terms /* Node terms (taxonomy) */ {
}

.node .content /* Node's content wrapper */ {
}

.node ul.links /* Node links. See also the ul.links declaration in the pages.css. */ {
}

.preview .node /* Preview of the content before submitting new or updated content */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

.node .voipextension {
    font-size: 1.5em;
    line-height: 1.8em;
    color: rgb(0, 102, 153);
    font-weight: bold;
}

/** announcement nodes **/
.vb-msg-wrapper {
    margin-top: 1em;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 4px;
}
.vb-msg-wrapper .vb-msg-date {
    padding: 10px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(245, 245, 245);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-style: italic;
    font-size: 2em;
    line-height: 1em;
}
.vb-msg-wrapper .vb-msg-date small {
    font-size: 0.8em;
    color: #333333;
}
.vb-msg-wrapper .vb-msg-content {
    padding: 10px;
}
.vb-msg-wrapper .vb-msg-content p {
    font-size: 1.5em;
    line-height: 1.6em;
}
.vb-msg-wrapper .vb-msg-meta {
    margin-top: 0.5em;
    padding-left: 10px;
    padding-bottom: 10px;
}
.vb-msg-wrapper .vb-msg-meta ul.links li.first {
    padding-left: 0px;
}